body {
    /* background-color: #34495e; */
    background-image: url(../img/bg.jpg);
    color: #ecf0f1;
}

h1,
h2 {
    text-align: center;
}

#center {
    margin-top: 130px;
    margin-bottom: auto;
}