body {
    background-image:url(../img/bg.jpg);
    color: #F50EB6;
}

canvas {
    border: 1px solid black;
    background-color: #8d8787;
}

h1 {
	text-align: center;
	color: #F50EB6;
}

#contenu {
	width: 480px;
	margin: auto;
}
