{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - CSS{% endblock %}

{% block body %}
  <img src="./assets/logos/css.png" alt="css" width="100px">
  <p>{{paragraphe | raw}}</p>
  
{% endblock %}