{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
  <img src="./assets/logos/langages_web.png" alt="web" width="250px">
  <p>{{paragraphe|raw}}</p>
  <br> 
{% endblock %}



