{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - HTML{% endblock %}

{% block body %}
  <img src="./assets/logos/html.png" alt="html" width="100px">
  <p>{{paragraphe|raw}}</p> 
{% endblock %}


