{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - JavaScript{% endblock %}

{% block body %}
  <img src="./assets/logos/javascript.png" alt="javascript" width="100px">
  <p>{{paragraphe | raw}}</p>
{% endblock %}