{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - JQuery{% endblock %}

{% block body %}
  <img src="./assets/logos/jquery.png" alt="jquery" width="100px">
  <p>{{paragraphe|raw}}</p>
{% endblock %}