body {
    margin: 0px;
    padding: 0px;
    background-image:url(../img/bg.jpg);
    color: rgb(28, 143, 13);
}

h1 {
	text-align: center;
	color: rgb(13, 138, 30);
}

img {
    margin: 0px;
    padding: 0px;
    border:none;
}

#contenu {
	width: 480px;
	margin: auto;
}

#imageBalle{
    display: none;
}

#monboutonJouer, #monboutonArreter {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: rgb(13, 138, 30);
    border: none;
}
